extends ../template

block variables
    - var title = 'Блог'

block content
    section.blog-header
        .blog__user
            .header-user
                .user__pic
                    img.user__pic-img(src="../assets/images/me.jpg")
                .user__info
                    .blog.underline Блог
                    .article Статьи, которые я написал
    section.triangle-blog
        include ../common/triangle-inc

    include ../common/footer-inc
    .footer__copyright
        .copyright
            p.copyright__text © Давлет Ганиев | 2017