extends ../template
block variables
    - var title = 'Добро пожаловать'

block content
    div.bg
        h3 Ганиев Давлет
        h4 Личный сайт веб разработчика
        include ../common/menu.pug