block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="description" content="Сайт веб-разработчика Ганиева Давлета")
        meta(name="keywords" content="Веб-разработчик")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="icon", href="/assets/images/icons/favicon.png", type="image/png")
        link(rel="stylesheet", href="/assets/styles/app.min.css")
    body
        block content