.header {
    background-image: url('/assets/images/welcome/welcome-bg.jpg');
    width: 100%;
    font-family: 'Roboto-Medium', sans-serif;
    height: 100vh;
}
.header__auth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.auth__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #fff;
    padding: 12px 27px;
    border-radius: 40px;
    margin: 20px 20px 0 0;
}


.header__user {
   display: flex;
   justify-content: center;
   position: relative;
   top: 50%;
   margin-top: -235px;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    background-color: rgba(18, 38, 32, .6);
    margin: auto;
}
.user__pic {
    margin: 40px 0 20px 0;
}
.user__pic-img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    padding: 0px;
}
.user__name {
    font-size: 28px;
    text-align: center;
}
.user__data {
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
}
.user__socials {
    margin: 40px 0;
}
.socials__link {
    list-style-type: none;
    display: inline-block;
}
.socials__link-github {
    margin: 0 27px;
}
.pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pages__link {
    list-style-type: none;
    background-color: #6c9c5a;
    text-align: center;
    flex-grow: 1;
    padding: 15px 10px;
    border-right: 2px solid rgba(#dee3e7, .5);
}
.pages__link:last-child {
    border-right: none;
}
.pages__link a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}


.header__copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.copyright {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto-Regular', sans-serif;
    text-align: center;
}